*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bande-haut {
    background-color: #152237;
    display: flex;
    align-items: center;
    padding: 0.75rem 1.5rem;
    gap: 2rem;
}

.header-gauche {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header-droite {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.Logo-Klivio img {
    height: 2rem;
    width: 5.25rem;
    height: 1.9375rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

#Bouton-Les-formations {
    color: #FFFFFF;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 0.9375rem;
    cursor: pointer;
    margin: 0;
    letter-spacing: -1.5%;
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

#Bouton-Inscription {
    width: 8.125rem;
    border-radius: 0.5rem;
    background: linear-gradient(95.98deg, #44DD8A 8.7%, #15B7E2 100%);
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 0.9375rem;
    line-height: 100%;
    letter-spacing: -0.015em;
    border-color: #152237;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0.5rem 0.875rem;
    justify-content: center;
}

#Bouton-Connexion {
    max-width: 8.125rem;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 0.9375rem;
    line-height: 100%;
    letter-spacing: -0.015em;
    background: rgba(255, 255, 255, 1);
    border: 0rem solid #152237;
    border-radius: 0.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0.875rem;
    margin-left: auto;
}

#Barre-de-recherche {
    flex: 1;
    max-width: 32rem;
    height: 2.5rem;
    padding: 0 1rem;
    border: 0.0625rem solid #FFFFFF;
    background-color: #152237;
    border-radius: 0.5rem;
    font-family: Montserrat, sans-serif;
    margin-left: 3rem;
}

#Barre-de-recherche::placeholder {
    color: #FFFFFF;
    padding-left: 0.5rem;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 0.9375rem;
    line-height: 100%;
    letter-spacing: -0.015em;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.photo-titre {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-image:
        linear-gradient(94.01deg, rgba(68, 221, 138, 0.8) 3.11%, rgba(21, 183, 226, 0.8) 98.45%),
        url('resources/assets/bg-header.png');
    background-size: cover;
    background-position: center;
}

.photo-titre::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: linear-gradient(
        94.01deg,
        rgba(68, 221, 138, 0.8) 3.11%,
        rgba(21, 183, 226, 0.8) 98.45%
    );
}

.photo-titre img {
    width: 100%;
    height: auto;
    display: block;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.overlay {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 2;
}
#h1-titre {
    position: relative;
    z-index: 1;
    text-align: center;
    position: relative;
    color: black;
    font-size: 1.75rem;
    font-family: Montserrat, sans-serif;
}

#h4-titre {
    text-align: center;
    position: relative;
    color: black;
    font-size: 0.75rem;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    margin-top: 0.3rem;
}

#bouton-en-savoir-plus {
    text-align: center;
    justify-content: center;
    letter-spacing: -0.015em;
    background: rgba(255, 255, 255, 1);
    border: 0rem solid #152237;
    border-radius: 0.25rem;
    cursor: pointer;
    padding: 0.5rem 0.875rem;
    margin-top: 1rem;
}