body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bande-haut {
    width: 100%;
    height: 5rem;
    background-color: #152237;
    display: flex;
    align-items: center;
    padding: 0 2rem;
    box-sizing: border-box;
}

.Logo-Klivio {
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.Logo-Klivio img {
    height: 2rem;
    width: 5.25rem;
    height: 1.9375rem;
    opacity: 1;
    top: 1.5625rem;
    left: 6.125rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

#Bouton-Les-formations {
    color: #FFFFFF;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 0.9375rem;
    cursor: pointer;
    margin: 0 10rem;
    letter-spacing: -1.5%;
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

#Bouton-Inscription {
    width: 8.125rem;
    height: 2.5rem;
    position: absolute;
    top: 1.25rem;
    left: 90.5625rem;
    opacity: 1;
    border-radius: 0.375rem;
    transform: rotate(0deg);
    background: linear-gradient(95.98deg, #44DD8A 8.7%, #15B7E2 100%);
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 0.9375rem;
    line-height: 100%;
    letter-spacing: -1.5%;
    text-align: center;
    vertical-align: middle;
    border-color: #152237;
    border-radius: 0.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

#Bouton-Connexion {
    max-width: 8.125rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 0.9375rem;
    line-height: 100%;
    letter-spacing: -1.5%;
    background: rgba(255, 255, 255, 1);
    border-color: #152237;
    border-radius: 0.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Barre-de-recherche {
    flex: 1;
    max-width: 29.8125rem;
    height: 2.5rem;
    padding: 0 1rem;
    border: 0.0625rem solid #152237;
    border: solid #FFFFFF;
    background-color: #152237;
    border-radius: 0.5rem;
    font-family: Montserrat, sans-serif;
}

#Barre-de-recherche::placeholder {
    color: #FFFFFF;
    padding-left: 1rem;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: -1.5%;
    vertical-align: middle;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.photo-titre {
    width: 100vw;
    height: auto;
    top: -0.125rem;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.photo-titre img {
    width: 100%;
    height: auto;
    display: block;
}